### Basic Datas structures in python
 #### They are 4 types
   - Tuples
   - List
   - Dict
   - Set

---

- Tuples
   - ordered collection of elements
   - enclosed in round brackets () / paranthesis
   - Differernt kind of elements can be stored
   - ones element are stored you can't change them(unmutable)

In [10]:
#creating a tuple and store different kind of elements like floating number,int,str or bolean operator.
tup1 = (1,'python',True,2.5)
print(tup1)

#to check the type of tuple
print(type(tup1))

#indexing in tuple
print(tup1[1])
print(tup1[0:4])

#to check the length of tup that how many elements are present in tup1.
len(tup1)

(1, 'python', True, 2.5)
<class 'tuple'>
python
(1, 'python', True, 2.5)

4

In [14]:
#creating a tup2
tup2=(2,'babaAmmar',3.9,False)
print(tup2)

#concatinate(concatinate mean to add 2 tuple)
print(tup1+tup2)

#concatinante + repeat(repeat mean multiplying or multiplying mean repeat)
print(tup1*2+tup2)          # muptiply mean to repeat value for 2 times

(2, 'babaAmmar', 3.9, False)
(1, 'python', True, 2.5, 2, 'babaAmmar', 3.9, False)
(1, 'python', True, 2.5, 1, 'python', True, 2.5, 2, 'babaAmmar', 3.9, False)

In [18]:
#creating a tupple
tup3=(100.9,0,500,25)
print(tup3)

#to check the minimum value in tuple
print(min(tup3))

#to check the maximum value in tuple
print(max(tup3))

#multiply tup3
tup3*2 # it means tup3 value repeated 2 times

(100.9, 0, 500, 25)
0
500

(100.9, 0, 500, 25, 100.9, 0, 500, 25)

---

### List
 - ordered collection of elements
 - enclosed in square brackets[ ]
 - Mutateable(you can change the values)

In [38]:
#creating a list
list1=[2,'babaAmmar',False]
print(list1)

#check the type of list
print(type(list1))

#check the length of list
print(len(list1))

#indexing in list
print(list1[2])

[2, 'babaAmmar', False]
<class 'list'>
3
False

In [39]:
#Creating a list2
list2=[3,4,'ammar','codenics',478,53.3,False ]
print(list2)

#Concatinate
print(list1+list2)

#Repeating a list1 with 2 time
print(list1*2)
print(list1)

#Reverse the list 1
list1.reverse()
print(list1)

[3, 4, 'ammar', 'codenics', 478, 53.3, False]
[2, 'babaAmmar', False, 3, 4, 'ammar', 'codenics', 478, 53.3, False]
[2, 'babaAmmar', False, 2, 'babaAmmar', False]
[2, 'babaAmmar', False]
[False, 'babaAmmar', 2]

In [46]:
#append a item in a list(append mean add a item in a list because list is mututable)
list1.append('codenics youtube channel')
print(list1)
#Count an item in a list that how many times they are present in a list
list1.count('codenics youtube channel')

[False, 'babaAmmar', 2, 'codenics youtube channel', 'codenics youtube channel', 'codenics youtube channel', 'codenics youtube channel', 'codenics youtube channel', 'codenics youtube channel', 'codenics youtube channel']

7

In [63]:
#Creating a list
list3=[99,3,5,1000,5,44.4,400,285,685]
print(list3)

#Check the length of list that how many elements are present in a list
print(len(list3))

#Sort a list(sort are used to make a sequence wise number in a list)
list3.sort()
print(list3)

#Repeating a list
list3*2

#Concatinate
list1+list3

[99, 3, 5, 1000, 5, 44.4, 400, 285, 685]
9
[3, 5, 5, 44.4, 99, 285, 400, 685, 1000]

[False,
 'babaAmmar',
 2,
 'codenics youtube channel',
 'codenics youtube channel',
 'codenics youtube channel',
 'codenics youtube channel',
 'codenics youtube channel',
 'codenics youtube channel',
 'codenics youtube channel',
 3,
 5,
 5,
 44.4,
 99,
 285,
 400,
 685,
 1000]

---

### Dictionaries
 - An unordered collection of elements
 - Key and value
 - curly brackets { } use.
 - Mututable/changeable

In [83]:
#create a dict
food_dict1={'somosa':30,'pokora':50,'raita':20,'salaad':10}
print(food_dict1)

#for checking the type
print(type(food_dict1))


#extract data
print(food_dict1.keys())                #to check only keys present in dict
print(food_dict1.values())              #to check only values present in dict

#for adding new element in food_dict1
food_dict1['tikii']=10
food_dict1

#update the value in food_dict1
food_dict1['tikii']=15
food_dict1

{'somosa': 30, 'pokora': 50, 'raita': 20, 'salaad': 10}
<class 'dict'>
dict_keys(['somosa', 'pokora', 'raita', 'salaad'])
dict_values([30, 50, 20, 10])

{'somosa': 30, 'pokora': 50, 'raita': 20, 'salaad': 10, 'tikii': 15}

In [87]:
#Creating a food_dict2
food_dict2={'dates':200,'apple':100,'sawian':30}
food_dict2

#concatinate
food_dict1.update(food_dict2)
food_dict1

{'somosa': 30,
 'pokora': 50,
 'raita': 20,
 'salaad': 10,
 'tikii': 15,
 'dates': 200,
 'apple': 100,
 'sawian': 30}

---

### sets
 - unordered and unindexed
 - curly brackets are used { }
 - no duplicate allowed

In [95]:
#Creating a set
set1 = {1,2.2,5.2,'ammar','codenics','faisalabad',True} #Bolean operators are not print in set
print(set1)

set1.add('ammar')  # not duplicate print
print(set1)

set1.add('ammar1')  # to add some elemant in set
print(set1)

set1.remove('ammar1')  # to remove some item in a set
print(set1)

{'ammar', 1, 2.2, 5.2, 'faisalabad', 'codenics'}
{'ammar', 1, 2.2, 5.2, 'faisalabad', 'codenics'}
{'ammar', 1, 2.2, 5.2, 'ammar1', 'faisalabad', 'codenics'}
{'ammar', 1, 2.2, 5.2, 'faisalabad', 'codenics'}